/* Globais */
/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


* {
  border-radius: 0px;
  margin: 0px;
  }

body {
  /* background: #dfbddf; */
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cabecalho {
  background-image: linear-gradient(90deg, #2c2259, #dfbddf);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px;
  height: 60px;
  width: 100%;
}

.corpo {
  background-image: linear-gradient(90deg, #dfbddf, #fff8f8);
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  top: 60px;
  bottom: 60px;
  overflow-y: scroll;
  width: 100%;
}


.apresentacao{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1000px;
}

.texto-apresentacao{
  width: 50%;
  
}

.foto-apresentacao{
  width: 50%;
  /* align-items: center;
  align-self: center;
  justify-self: center;
  align-content: center; */
}

.foto-apresentacao img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}



.especialidades {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.especialidade img {
  width: 250px;
  height: 250px;
}

.eventos{
  position: relative;
  display: flex;

}

.eventos img {
  width: 150px;
  height: 100px;
}

.eventos img:hover {
  position: relative;
  width: 150px;
  height: 109px;
}

.contato {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

.dados-contato{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
}

.conteudo-corpo {
  display: flex;
  flex-wrap: wrap;
  
  align-items: center;
  justify-content: space-around;
  
  background: white;
  border-radius: 5px;
  
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 0px;
  margin-right: 0px;

  padding: 20px;
  max-width: 1000px;

}

.rodape {
  background-image: linear-gradient(90deg, #2c2259, #dfbddf);
  position: fixed;
  bottom: 0px;
  height: 60px;
  width: 100%;
}

/*   BOTÕES */

.btn-whatsapp {
  top: 70px;
  right: 0px;
}

.btn-whatsapp:hover {
  width: 51px;
  height: 51px;
}

.btn-instagram {
  top: 122px;
  right: 0px;
}

.btn-instagram:hover {
  width: 51px;
  height: 51px;
}

.btn-facebook {
  top: 174px;
  right: 0px;
}

.btn-facebook:hover {
  width: 51px;
  height: 51px;
}

.agende-btn {
  display: inline-block;
  background: #ff2978;
  padding: 15px;
  color: white;
  text-transform: uppercase;
  border-radius: 10px;
  text-decoration: none;
  position: fixed;
  top: 6px;
  right: 4px;
}

.agende-btn:hover {
  padding: 15.5px;
}

.btn-fale-comigo {
  background: #2c2259;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  margin-right: 0%;
  margin-left: 0%;
  text-decoration: none;
}

.voltar-ao-topo-btn {
  display: inline-block;
  position: fixed;
  bottom: 124px;
  right: 10px;
  background: #2c2259;
  color: #dfbddf;
  padding: 5px;
  text-decoration: none;
  border-radius: 5px;
}

/* IMAGEM-BOTÕES */

.img-logo-social {
  width: 50px;
  height: 50px;
  display: inline-block;
  position: fixed;
  padding: 5px;
  text-decoration: none;
}

.img-menu-reponsivo {
  width: 60px;
  height: 60px;
  display: inline-block;
}

/* FIM-IMAGEM-BOTÕES */

/* FIM-BOTÕES */

.img-logo-pedaco {
  width: 100px;
  height: 70px;
}

.logo-whats-fino{
  width: 15px;
  height: 15px;
}

.logo-email{
  width: 15px;
  height: 15px;
}