@media only screen and (max-width: 999px) {

    .body{
        background: orange;
    }

    .contato{
        /* background: orange; */
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;      
    }

    .iframe-mapa{
        /* width="320"
        height="240" */
        width: 240px;
        height: 180px;
        padding: 10px;
    }

    .dados-contato{
        padding: 10px;
    }

    .container-carousel{
        width: 100%;

    }

    .apresentacao{
        width: 100%;
        flex-direction: column;
    }

    .texto-apresentacao{
        width: 100%;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .foto-apresentacao{
        width: 100%;
        padding-top: 0px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center; 
    }

}
